.ticket-wrapper{
  width: 90%;
  background-color: #7986cb;
  border-radius: 10px;
  box-shadow: 0px 0px 7px 1px rgb(0 0 0 / 20%);
  margin: 15px auto;
  overflow: hidden;
}

.ticket-header__wrapper{
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.ticket-active{
  background-color: #7986cb!important;
  color: white!important;
}
.ticket-button{
  outline: none;
  border: none;
  padding: 10px;
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: center;
}
.ticket-partner__wrapper{
  width: 90%;
  margin: 10px auto;
  color: white;
  font-size: 28px;
}

.ticket-partner__content{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.ticket-partner__content:last-child{
  margin: 0 auto 10px;
  padding: 0 0 10px;
  border-bottom: 1px solid white;
}
.ticket-partner__content p{
  text-align: end;
  overflow: hidden;
  width: 20%;
}
.ticket-partner__content p:first-child{
  text-align: start!important;
  width: 40%!important;
}
.ticket-partner__totals{
  display: flex;
  width: 60%;
}
.ticket-partner__totals p:nth-child(odd){
  text-align: end;
  width: 60%;
  margin: 5px 0;
}
.ticket-partner__totals p{
  text-align: end;
  width: 40%;
  margin: 5px 0;
}