.ticket-algarin__wrapper,
.ticket-client__wrapper{
  width: 100%;
  margin: 0;
  color: white;
  font-size: 28px;
  background-color: #7986cb;
  padding: 10px 0;
}
.ticket-client__wrapper div,
.ticket-client__wrapper div{
  width: 90%;
  margin: 10px auto;
}

.ticket-algarin__header,
.ticket-client__header{
  display: flex;
  width: 100%;
  margin: 0 auto 10px ;
}
.ticket-algarin__header h4,
.ticket-client__header h4{
  text-align: center;
  overflow: hidden;
  width: 25%;
  margin: auto;
  font-size: .5em;
  font-weight: 300;
}
.ticket-algarin__header h4:first-child
.ticket-client__header h4:first-child{
  text-align: start;
  width: 25%!important;
}

.ticket-algarin__content,
.ticket-client__content{
  display: flex;
  width: 100%!important;
  justify-content: space-around;
  margin: 5px 0;
}
.ticket-algarin__content,
.ticket-client__content:last-child{
  margin: 0 auto 10px;
  padding: 0 0 10px;
  border-bottom: 1px solid white;
}
.ticket-algarin__content p,
.ticket-client__content p{
  text-align: end;
  overflow: hidden;
  width: 25%;
  margin: auto;
  white-space: nowrap;
}
.ticket-algarin__content p:first-child,
.ticket-client__content p:first-child{
  text-align: start!important;
  width: 25%!important;
}
.ticket-client__totals{
  display: flex;
  width: 100%;
}
.ticket-client__totals p:nth-child(odd){
  text-align: end;
  width: 70%;
  margin: 5px 0;
}
.ticket-client__totals p{
  text-align: end;
  width: 30%;
  margin: 5px 0;
}


.ticket-algarin__content .clothes-wrapper,
.ticket-client__content .clothes-wrapper{
  border: white solid 1px;
  width: 20%;
  margin: 0 2.5%;
  height: 100%;
}
.ticket-algarin__content .clothes-wrapper input,
.ticket-client__content .clothes-wrapper input {
  text-align: end;
  margin: 0;
  padding: 0 10px 0 0;
  color: white;
}
.ticket-algarin__content .clothes-wrapper input::placeholder,
.ticket-client__content .clothes-wrapper input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.ticket-algarin__content .clothes-wrapper label,
.ticket-client__content .clothes-wrapper label {
  display: none;
}